*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  font-family: Raleway, sans-serif;
  scroll-behavior: smooth;

  @media screen and (max-width: 900px) {
    font-size: 50%;
  }

  @media screen and (max-width: 600px) {
    font-size: 40%;
  }

  @media screen and (max-width: 300px) {
    font-size: 30%;
  }
}

section {
  margin: 10rem 2rem;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic');
