@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin subHeader {
  display: inline-block;
  margin-top: 2rem;
  letter-spacing: 0.75rem;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin scaleHeader {
  transition: all 0.2s;
  transform-origin: center left;

  &:hover {
    transform: scale(1.1);
    color: #c8a2c8;
    border-bottom: 2px solid #c8a2c8;
  }
}

@mixin better-blur($radius) {
  filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1'%3E%3CfeGaussianBlur stdDeviation='#{$radius}' result='b'/%3E%3CfeMorphology operator='dilate' radius='#{$radius}'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a");
}

@mixin primaryButton {
  background-color: #5e2afb;
  border: none;
  outline: none;
  padding: 2rem 3rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 3rem;

  font-size: 2rem;
  color: #fff;

  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    transform: translateY(-1rem);

    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:active,
  :focus {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
