@import "../../styles/_anim";
@import "../../styles/_mixins";

.container {
    margin-top: 10rem;

    animation: moveInBottom 1s ease-out;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    button {
        @include primaryButton;
    }

    img {
        width: 100%;
        height: auto;
    }

    margin-bottom: 5rem;
}
