@import '../../styles/mixins';

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgba(#010517, 0.7);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  margin: 10rem 5rem 5rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 90%;
  color: #fff;

  @media screen and (min-width: 1000px) {
    width: 40%;
  }

  .image {
    width: 100%;
    overflow: hidden;
  }

  .content {
    padding: 3rem 5rem;
    margin-bottom: 2rem;

    .header {
      @include subHeader;
      @include scaleHeader;

      border-bottom: 2px solid #fff;
      padding-bottom: 1rem;
      margin-bottom: 5rem;
    }

    p {
      font-size: 2rem;
    }
  }

  .tags {
    list-style: none;
    display: flex;
    flex-flow: row wrap;

    margin-top: 3rem;

    li {
      display: inline-block;
      padding: 1rem 2rem;
      margin: 1rem;

      font-size: 2rem;
      background-color: #5786ff;
      border-radius: 3rem;
    }
  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: center;

    .link {
      @include primaryButton;
      margin: 3rem 0;
    }
  }
}
