@import "../../styles/mixins";
@import "../../styles/anim";

.container {
    margin: 10rem auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    @media screen and (min-width: 1080px) {
        grid-template-columns: repeat(2, auto);
    }

    animation: moveInRight 1s ease-out;
}

.card {
    background-color: rgba(#010517, 0.7);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    color: #fff;
    overflow: hidden;

    .image {
        width: 100%;
        height: 25vh;
        object-fit: fill;
    }

    .content {
        padding: 3rem 5rem;
        margin-bottom: 2rem;

        .header {
            @include subHeader;
            @include scaleHeader;

            border-bottom: 2px solid #fff;
            padding-bottom: 1rem;
            margin-bottom: 5rem;
        }

        p {
            font-size: 2rem;
        }
    }

    .tags {
        list-style: none;
        display: flex;
        flex-flow: row wrap;

        margin-top: 3rem;

        li {
            display: inline-block;
            padding: 1rem 2rem;
            margin-right: 1rem;
            margin-bottom: 1rem;

            font-size: 2rem;
            background-color: #2e5c91;
            border-radius: 3rem;
        }
    }

    .actions {
        width: 100%;
        margin-top: auto;

        display: flex;
        justify-content: center;

        .link {
            @include primaryButton;
        }
    }
}
