@import "../../styles/_anim";

.cards {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    margin-top: 10rem;
    padding-bottom: 5rem;

    animation: moveInBottom 0.5s ease-out;
}
