@import '../../styles/mixins';
@import '../../styles/anim';

.navContainer {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  margin: 0;
  padding-top: 2rem;
  z-index: 9999;

  transition: all 0.5s;
}

.transparentNav {
  background: linear-gradient(to bottom, rgba(#010517, 0.8), transparent);
}

.opaqueNav {
  background: rgba(#010517, 1);
}

.nav {
  display: flex;
  flex-direction: row;

  list-style: none;
  font-size: 2rem;
  padding-right: 2rem;

  justify-content: flex-end;

  animation: fadeIn 1s ease-in;

  li {
    a:link,
    a:visited {
      text-decoration: none;
      color: #fff;

      margin-right: 2rem;
      padding-bottom: 1rem;

      border-bottom: 2px solid transparent;
      transition: all 0.2s;
    }

    a:hover,
    a:active {
      color: #c8a2c8;
      border-bottom: 2px solid #c8a2c8;
      cursor: pointer;
    }
  }

  animation: moveInRight 0.5s ease-out;
}
