@import "../../styles/mixins";
@import "../../styles/anim";

.navContainer {
    padding: 4rem 2rem 0 2rem;
}

.nav {
    display: flex;
    flex-direction: row;

    list-style: none;
    font-size: 2rem;

    justify-content: flex-end;

    animation: fadeIn 1s ease-in;

    li {
        a:link,
        a:visited {
            text-decoration: none;
            color: #fff;

            margin-right: 2rem;
            padding-bottom: 1rem;

            border-bottom: 2px solid transparent;
            transition: all 0.2s;
        }

        a:hover,
        a:active {
            color: #c8a2c8;
            border-bottom: 2px solid #c8a2c8;
            cursor: pointer;
        }
    }

    animation: moveInRight 0.5s ease-out;
}
