@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin subHeader {
    display: inline-block;
    margin-top: 2rem;
    letter-spacing: 0.75rem;
    font-size: 3rem;
    font-weight: 400;
}

@mixin scaleHeader {
    transform: scale(1.1);
    color: #c8a2c8;
    border-bottom: 2px solid #c8a2c8;
}
